<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.pickmepetme.mapper.CommentMapper">
	
<!-- CommentMapper sql문 작성하는 곳입니다. -->

<!-- 댓글추가 -->
<insert id="addComment">
insert into comment(user_id, post_no,comunity_id, comment_contact, comment_date)
values (#{user_id}, #{post_no},#{comunity_id}, #{comment_contact} , NOW())
</insert>

<!-- 댓글리스트 -->
<select id="commentList" resultType="com.pickmepetme.domain.CommentVO">
select * 
from comment
where post_no = #{post_no} and comunity_id = #{comunity_id}
order by commnet_no desc
</select>

</mapper>
