<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.pickmepetme.mapper.UserMapper">
	
<!-- UserMapper sql문 작성하는 곳입니다. -->
<!-- 만약 select문을 사용하여 DTO값이 필요하면 아래와 같이 resultType을 사용하면 된다. -->
<!-- 
ex)  
<		<select id = "getList" resultType ="org.zerock.domain.BoardVO">
			<![CDATA[
			select * from tbl_board where bno > 0
			]]>
		</select>
-->

<!-- user테이블에서 user_name이 name인 유저정보   -->
<insert id = "register_user">
insert into user(user_id, user_passwd, user_name, user_birth, user_addr, user_phone, user_sex, user_email, user_date)
values(#{user_id}, #{user_passwd}, #{user_name}, #{user_birth}, #{user_addr}, #{user_phone}, #{user_sex}, #{user_email}, NOW())
</insert>

<!-- 로그인  -->
<select id="login" resultType="com.pickmepetme.domain.UserVO">
	select user_id , user_passwd , user_name from user where user_id = #{user_id} and user_passwd = #{user_passwd}
</select>


<!-- 회원 정보 조회 -->
<select id="readMember" resultType="com.pickmepetme.domain.UserVO">
	select * from user where user_id=#{user_id}
</select>

<!-- 내가 쓴글 보기 -->
<select id="mywrite" resultType="com.pickmepetme.domain.ComunityVO">
   select * from (
	select * from comunity c
	union all 
	select * from tip_comunity t
	union all
	select * from CARE_COMUNITY care
	union all
	select * from SITTER_COMUNITY sit
	union all
	select post_no,comunity_id,user_id,post_title,post_contact,post_date,gdsThumbImg,gdsImg,hit from PARCEL_COMUNITY par
) ta where ta.user_id = #{user_id}
order by post_no desc
limit #{pageStart},#{amount}

</select>

<!-- 내가 쓴글 총 갯수 -->
<select id="mywriteCount" resultType="int">
select count(*) from (
	select * from comunity c
	union all 
	select * from tip_comunity t
) ta where ta.user_id = #{user_id}

</select>

<!-- 수정 -->
<update id = "memberUpdate">
update user set user_passwd = #{user_passwd}, user_addr = #{user_addr}, user_phone = #{user_phone}, user_email = #{user_email} where user_id = #{user_id}
</update>



</mapper>

